body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    margin-left: 150px;
}
.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:inline-block;
    margin-bottom:10px;
    font-size: 3ex;
    font-style: inherit;
    
}
.label0{
    padding-bottom: 30px;
    font-size: 5ex;
    font-style: inherit;
    font-style: italic;
    background-color:#F0F0F0;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
input1{
    display: block;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:inline-block;
}


#course_name {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}

#desc{
    width: 100px; height: 20px
}