#Institution-Name {
	margin-bottom: 30px;
}

label{
	margin-top: 10px;
}

.form-control{
	width:50%;	
}

.form-group{
	margin-right: 20px;
}

.btn:hover{
    color: #83f442;
    cursor: pointer;
}
#loader {
    width: 100px;
    display:none;
}
#loader1 {
    width: 100px;
    display:none;
}